<%  
var qua = 0;
hours.forEach(function(hour){ 
    if (moment(hour.start).isSame(moment({y: new Date().getFullYear(), M: new Date().getMonth()}), 'quarter')) {
        qua += moment(hour.end).diff(moment(hour.start));
    }
});
var todo = moment.duration(qua) - moment.duration(420, 'hours');
%>

<div class="row">

<div class="wrap highlight text-center col-xs-4 col-sm-4">
    <h2 class="pink">THIS QUARTER</h2>
    <p class="wrap-data"><%= moment.duration(qua).format("H[h]mm") %></p>
    <span class="wrap-under">ON 420 HOURS</span>
</div>

<div class="wrap text-center col-xs-4 col-sm-4">
    <h2>HAVE TO DO</h2>
    <% if (moment.duration(todo).asMilliseconds() > 0) { %>
        <p class="wrap-data green">+<%= moment.duration(todo).format("H[h]mm") %></p>
    <% } else { %>
        <p class="wrap-data purple"><%= moment.duration(todo).format("H[h]mm") %></p>
    <% } %>
    <span class="wrap-under">FOR THIS QUARTER</span>
</div>

</div>


<div class="row">
<table class="tracker-table table table-striped">
    <thead>
        <tr>
        <th scope="col">Day</th>
        <th scope="col" class="text-right">Arrived at</th>
        <th scope="col" class="text-right">Left at</th>
        <th scope="col" class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        <% for (hour of hours) { 
            if (moment(hour.start).isSame(moment({y: new Date().getFullYear(), M: new Date().getMonth()}), 'quarter')) {
        %>
        <tr>
        <td><%= moment(hour.start).format("dddd D MMMM YYYY") %> - <a href="/delete_hours/<%= hour.id %>">Delete</a></td>
        <td class="text-right"><%= moment(hour.start).format("H:mm") %></td>
        <td class="text-right"><%= moment(hour.end).format("H:mm") %></td>
        <td class="purple text-right"><b><%= moment.duration(moment(hour.end).diff(moment(hour.start))).format("H:mm", { trim: false }) %></b></td>
        </tr>
        <% }} %>
        <tr class="text-right">
            <td></td>
            <td></td>
            <td><b>TOTAL</b></td>
            <td class="green"><b><%= moment.duration(qua).format("H:mm", { trim: false }) %></b></td>
        </tr>
    </tbody>
</table>
</div>